* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 15px;
}

p {
    border: 1px solid black;
    /* margin-right: auto; leave this out for now and see whether the div styles are actually applied...*/
    margin-left: 30px;
    font-family: Arial;
}
