body {
    font-size: 16px;
    color: #f8f8f8;
    background-color: #529105;
    font-family: 'Ubuntu', sans-serif;
}

p {
  padding: 20px;
}

#our-menu {
  text-align: center;
}

/** HEADER **/
#header-nav {
    background-color: #161617;
    border-radius: 0;
    border: 0;
}

#logo-img {
  background: url('../public/Bacon.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding: 25px;
}

.navbar-brand h1 {
  font-family: 'Ubuntu', sans-serif;
  color: #6F8751;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #529105;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #6F8751;
  text-align: center;
}
#nav-list a:hover {
  background: #6F8751;
}

/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    /* Header */
    #logo-img {
        background: url('../public/Bacon.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }
    /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */
  #logo-img {
      background: url('../public/Bacon_med.png') no-repeat;
      width: 83px;
      height: 83px;
      margin: 5px 5px 5px 0;
  }
  /* End Header */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand h1 { /* Restaurant name */
        padding-top: 10px;
        font-size: 5vw; /* 1vw = 1% of viewport width */
    }
    #collapsable-nav span { /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
        color: #6F8751;
    }
    /* End Header */
}
